<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" class="h-100"  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:include="fragments/fragments.html :: head" />



<body>
<div th:replace="~{fragments/fragments.html :: navbar}"></div>


<h1> Manage Users </h1>





  <!--<button><a th:href="@{admin/manageUser}"> Users</a></button>
  <button> <a th:href="@{admin/manageAddress}">Addresses</a></button>
  <button><a th:href="@{admin/manageTestCenter}">Test Centers</a></button>
-->



<div th:replace="~{fragments/fragments.html :: footer}"></div>
</body>
</html>