<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" class="h-100"  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:include="fragments/fragments.html :: head" />


<style>

</style>


<body>
<div th:replace="~{fragments/fragments.html :: navbar}"></div>


<h1 style="bottom: 50px">Admin Panel</h1>


<div class="btn-group">
  <a th:href="@{admin/manageUser}"><button> Users</button></a>
  <a th:href="@{admin/manageAddress}"><button>Addresses</button></a>
  <a th:href="@{admin/manageTestCenter}"><button>Test Centers</button></a>
  <a th:href="@{admin/manageAppointments}"><button>Appointments</button></a>
</div>


<div th:replace="~{fragments/fragments.html :: footer}"></div>
</body>
</html>