<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" class="h-100"  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">



<head th:include="fragments/fragments.html :: head" />

<body>
<div th:replace="~{fragments/fragments.html :: navbar}"></div>

<div class="container">
  <div class="row col-lg-8 col-lg-offset-4" style="margin-top: 60px; margin-left: -100px; background-color:#fff;padding:20px;border:solid 1px #000000;">

    <form class="form-appointment" th:action="@{/success}" method="POST">
      <h3 class="form-appointment-heading" style="color: black" th:text="Appointment"></h3>
      <br />
      <div class="form-group">
        <label for="cprOfUser"  style="color: black">CPR:  <span sec:authentication="name"></span></label>
        <input required type="number" maxlength="10" id="cprOfUser" name="cprOfUser" placeholder="Confirm CPR" class="form-control" />
      </div>

      <br />

      <div class="form-group">
          <label for="testCenter" style="color: black">Test Center: </label>
          <select required name="testCenterId" id="testCenter" class="form-control shadowed-light form-select"
                aria-label="Test Center selector">
            <option th:each="TestCenter : ${iTestCenterService.fetchAllCenters()}" th:text="${TestCenter.getName()}"
                  th:value="${TestCenter.getTestCenterId()}">
            </option>
          </select>
      </div>

      <br />

      <div class="form-group">
        <label for="date" style="color: black">Date: </label>
        <input required type="date" th:placeholder="YYYY-MM-DD" id="date" name="date" class="form-control" min="2021-06-01" max="2021-12-31" />
      </div>

      <br />

      <div class="form-group">
        <label for="time" style="color: black">Time: [09:00 - 21:30] </label>
        <select name="time" id="time" class="form-control">
          <option value="09:00">09:00</option>
          <option value="09:10">09:10</option>
          <option value="09:20">09:20</option>
          <option value="09:30">09:30</option>
          <option value="09:40">09:40</option>
          <option value="09:50">09:50</option>
          <option value="10:00">10:00</option>
          <option value="10:10">10:10</option>
          <option value="10:20">10:20</option>
          <option value="10:30">10:30</option>
          <option value="10:40">10:40</option>
          <option value="10:50">10:50</option>
          <option value="11:00">11:00</option>
          <option value="11:10">11:10</option>
          <option value="11:20">11:20</option>
          <option value="11:30">11:30</option>
          <option value="11:40">11:40</option>
          <option value="11:50">11:50</option>
          <option value="12:00">12:00</option>
          <option value="12:10">12:10</option>
          <option value="12:20">12:20</option>
          <option value="12:30">12:30</option>
          <option value="12:40">12:40</option>
          <option value="12:50">12:50</option>
          <option value="13:00">13:00</option>
          <option value="13:10">13:10</option>
          <option value="13:20">13:20</option>
          <option value="13:30">13:30</option>
          <option value="13:40">13:40</option>
          <option value="13:50">13:50</option>
          <option value="14:00">14:00</option>
          <option value="14:10">14:10</option>
          <option value="14:20">14:20</option>
          <option value="14:30">14:30</option>
          <option value="14:40">14:40</option>
          <option value="14:50">14:50</option>
          <option value="15:00">15:00</option>
          <option value="15:10">15:10</option>
          <option value="15:20">15:20</option>
          <option value="15:30">15:30</option>
          <option value="15:40">15:40</option>
          <option value="15:50">15:50</option>
          <option value="16:00">16:00</option>
          <option value="16:10">16:10</option>
          <option value="16:20">16:20</option>
          <option value="16:30">16:30</option>
          <option value="16:40">16:40</option>
          <option value="16:50">16:50</option>
          <option value="17:00">17:00</option>
          <option value="17:10">17:10</option>
          <option value="17:20">17:20</option>
          <option value="17:30">17:30</option>
          <option value="17:40">17:40</option>
          <option value="17:50">17:50</option>
          <option value="18:00">18:00</option>
          <option value="18:10">18:10</option>
          <option value="18:20">18:20</option>
          <option value="18:30">18:30</option>
          <option value="18:40">18:40</option>
          <option value="18:50">18:50</option>
          <option value="19:00">19:00</option>
          <option value="19:10">19:10</option>
          <option value="19:20">19:20</option>
          <option value="19:30">19:30</option>
          <option value="19:40">19:40</option>
          <option value="19:50">19:50</option>
          <option value="20:00">20:00</option>
          <option value="20:10">20:10</option>
          <option value="20:20">20:20</option>
          <option value="20:30">20:30</option>
          <option value="20:40">20:40</option>
          <option value="20:50">20:50</option>
          <option value="21:00">21:00</option>
          <option value="21:10">21:10</option>
          <option value="21:20">21:20</option>
          <option value="21:30">21:30</option>
        </select>
      </div>
      <br />




      <button class="btn btn-lg btn-primary" name="Submit" value="submit" type="Submit"  style="margin-right:10px;">Confirm appointment</button>

    </form>
  </div>
</div>



<script>
  $.fn.datetimepicker.Constructor.Default = $.extend({}, $.fn.datetimepicker.Constructor.Default, {
    icons: {
      time: 'far fa-clock',
      date: 'far fa-calendar',
      up: 'fas fa-arrow-up',
      down: 'fas fa-arrow-down',
      previous: 'fas fa-chevron-left',
      next: 'fas fa-chevron-right',
      today: 'far fa-calendar-check-o',
      clear: 'far fa-trash',
      close: 'far fa-times'
    } });

  $('#datetimepicker1').datetimepicker({
    format: 'DD/MM/YYYY h:mm A'
  });
</script>


<div th:replace="~{fragments/fragments.html :: footer}"></div>
</body>
</html>