<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" class="h-100"  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">



<head th:include="fragments/fragments.html :: head" />

<body>
<div th:replace="~{fragments/fragments.html :: navbar}"></div>

<div class="container">
  <div class="row col-lg-8 col-lg-offset-4" style="margin-top: 50px; margin-left: -100px; background-color:#fff;padding:20px;border:solid 1px #000000;">

    <form th:action="@{/addTestCenter}" th:object="${newTestCenter}" method="POST">
      <h3 class="form-appointment-heading" style="color: black" >Add new center</h3>
      <br />

      <label style="color: black">Name: </label>
      <input required type="text" th:field ="*{CenterName}" placeholder="Insert Center Name" class="form-control mb-4 col-4"><br />
      <label style="color: black">Address: </label>
      <input required type="text" th:field ="*{CenterAddress}" placeholder="Insert Center Address" class="form-control mb-4 col-4"><br />


      <br />
      <button class="btn btn-lg btn-primary" type="Submit"  style="margin-right:10px;">Add Center</button>

    </form>



  </div>
</div>


<br />
<br />
<br />
<div th:replace="~{fragments/fragments.html :: footer}"></div>
</body>
</html>